/* GENERAL
 */

.container-port {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 2;
  background-color: crimson;
  position: relative;
}



/* LEFT FIXED COLUMN
 */

 .fixed-left {
  background-color: blueviolet;
  /* padding: 5%;
  margin: 5%;*/
  border: 5px solid black;
  left: 0px;
  top: 0px;
  /* right: 100%; */
  bottom: 0px;
  z-index: 0;
  width: 25%;
  height: 100%;
  position: fixed;
  padding-top: 50px;
}

.personal-info{
  background-color: cyan;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  
}

.logo-me {
  background-color: darkblue;
  padding: 10px;
  text-align: center;  
}

.contact-me {
  background-color: rgb(228, 168, 228);
  padding-top: 100px;
  text-align: center;
  font-size: larger;
}

/* RIGHT SCROLL COLUMN
*/

.scroll-right {
  background-color: chartreuse;
  padding: 15px;
  border: 5px solid rgb(255, 251, 0);
  /* grid-column-end: 2;
  grid-column-end: 5; */
  top: 0;
  z-index: 0;
  bottom: 50px;  
  width: 75%;
  right:0px;
  height: auto;
  position: absolute;  
}

/* RIGHT NAVBAR

*/

.nav-b {
  background-color: rgb(237, 100, 230);
}

/* RIGHT PROJECTS
*/

.project {
  max-width: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.mockup {
  width: 350px;
  background-color: deeppink;
  
}

.info-project {
  background-color: darkkhaki;
  display: flex;
  justify-content: space-between;
  width:100%;
  margin: 20px 20px;
}

.info-tech {
  background-color: darkred;
}

.info-links {
  background-color: darkslategray;
  
}

/* RIGHT ABOUT ME
*/

.about-me {
  background-color: lightgreen;
  width:98%;
  height:auto;
  margin: 10px;
  padding: 5px;
}

/* RIGHT TECNOLOGIES AND TOOLS
*/

.tech-skills {
  background-color: lightpink;
  width:98%;
  height:200px;
  margin: 10px;
  padding: 5px;
}

li {
  display: inline-block;
  margin: 0 10px;
}
/* RIGHT PUBLICATIONS
*/

.publications {
  background-color: rgb(134, 1, 21);
  width:98%;
  height:200px;
  margin: 10px;
  padding: 5px;
}

/* RIGHT CONTACT ME
*/

.message-me{
  background-color: rgb(54, 55, 93);
  width:98%;
  height:200px;
  margin: 10px;
  padding: 5px;
}

.input-msg {
  width: 98%; 
  height: 250px;
  background-color: lightpink;
}

/* FOOTER
*/

.footer-info {
  grid-column-start: 1;
  grid-column-end: 3;
  
}

.footer-p {
  /* margin-top: 40px; */
  font-size: 10px;
  color: #999898;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 30px;
  background-color: black;
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 5px;
}